<nav>
  <span class="logo">Node js</span>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blogs/create">Create</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
<div class="clear"></div>
