<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/nav.ejs") %>
    <!--content-->
    <div class="home-wrapper">
      <h1>About Us</h1>
      <br />
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium esse
        rem eius, assumenda debitis, quas delectus nobis adipisci, amet culpa
        cum? Modi veritatis cumque neque quasi libero delectus velit hic
        perferendis. Itaque obcaecati illo similique quisquam est optio
        excepturi pariatur suscipit! Tenetur blanditiis, dolor pariatur
        necessitatibus repellendus doloremque porro debitis fugiat maxime,
        deserunt animi doloribus aperiam nisi nesciunt harum dignissimos quo.
        Ipsa assumenda a sapiente? In, consectetur nam magnam rerum quaerat
        voluptates sit doloribus ducimus beatae dicta delectus, totam sunt nemo,
        vel aut. Voluptas ea officia in explicabo quos ratione atque possimus,
        magni debitis culpa id qui ullam, minus perferendis!
      </p>
      <br />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, eos
        recusandae maiores reiciendis earum consequuntur temporibus quidem sequi
        pariatur deleniti dolor qui, corrupti voluptatem hic aperiam molestias
        laboriosam eaque perferendis. Eligendi totam et incidunt voluptates
        accusamus. Esse ex recusandae sit. Itaque, dolore corporis dolorum culpa
        corrupti rem laborum saepe quas?
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus vel
        architecto quidem ex, nesciunt mollitia non dolorum delectus inventore.
        Quibusdam aliquid perspiciatis culpa commodi non obcaecati, voluptatum
        consectetur provident doloribus ipsa eos vero. Illum aliquam, ut
        reprehenderit magni, adipisci expedita libero provident, quas iure
        pariatur facilis inventore. Dolorum, autem ducimus!
      </p>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
